# STT
# OPENAI_API_KEY=

# LLM (one of those)
# OPENAI_API_KEY=
# GROQ_API_KEY=

# TTS (one of those)
# DEEPGRAM_API_KEY=
# ELEVEN_API_KEY=
# OPENAI_API_KEY=

# Optional => for Microsoft Todo tool if uncommented in src/tools/tools_library.py
# MICROSOFT_TENANT_ID=
# MICROSOFT_CLIENT_ID=
# MICROSOFT_CLIENT_SECRET=

# Personal info for prompt completion
age=
boyfriend_name=
city=
family_city=

