openai
openai[realtime]
python-dotenv
pyaudio
openai-whisper
Jinja2
pynput
deepgram-sdk==3.*
requests_oauthlib
groq
gpiozero
elevenlabs
fastapi==0.115.2
spotipy==2.24.0
uvicorn==0.32.0
openwakeword==0.5.1
openmeteo-requests
geopy